node_modules
svelte-sample
goorm.manifest
src/back/intcontAPI/v1/intcont.db
src/back/intcontAPI/v2/intcont.db
src/back/univregAPI/v1/univregs.db
src/back/univregAPI/v2/univregs.db
back/atcAPI/v1/atc.db
back/atcAPI/v2/atc.db
public/build