node_modules
svelte-sample
goorm.manifest
back/intcontAPI/v1/intcont.db
back/intcontAPI/v2/intcont.db
back/univregAPI/v1/univregs.db
back/univregAPI/v1/univregs.db
back/atcAPI/v1/atc.db
back/atcAPI/v2/atc.db